/* define variables for the primary colors */
$greyish_green: #9E9D89; // greyish green
$purple_red: #B67162; // purple red
$beige: #E4D3CF; // beige
$off_white: #FCF9F9; // off_white

/*define variables for fonts*/
$nunito_sans: 'Nunito Sans', sans-serif;
$roboto: 'Roboto', sans-serif;


.navbar{
background-color: $greyish_green;

    /*---Toggler--*/
    .navbar-toggler{
        width: 47px;
        height: 25px;
        
        .line{
            width: 100%;
            float: left;
            height: 2px;
            background-color:$off_white;
            margin-bottom: 5px;
        } 
    }
       

        .form-control{
            font-size:15px;
            height:20%;

        }
        
        .account{
            background-color:$greyish_green;
            border:none;
            
            padding-left:15px;
            padding-right:15px;

        }
        .cart{
            background-color:$greyish_green;
            border:none;


        }
    }

